    <header>

      <h1>About Me</h1>
      
      <nav>
        <a href="index.html">Home</a>
        <a href="about.html">About Me</a>
        <a href="contact.html">Contact Me</a>
      </nav>

    </header>

    <!-- Main content -->

    <section>
      
      <img src='assets/byron_bay.jpg'>
      <img src='assets/colorado.jpg'>
      <img src='assets/folly.jpg'>

      <h1>Quick History</h1>
        
        <p></p>

    </section>

    <section>

      <h1>Why Software Development?</h1>

        <p>Overall, I have an obsession with information. This includes everything from world news, all areas of history, business, the stock market, abstract concepts, etc. There is not enough time in the day to read and take in all of the information I would like to. This mindset has driven me to take a step back from my current life and career to see what else is out there.</p>

        <p2>I always thought that the projects he and his company worked on were fascinating, creative and inspiring. My goal is to utilize my many years of management experience with the strengths listed in my application to become a strong Software Developer and natural leader in the Software Industry.</p2>
    
    </section>

    <section>

      <h1>Interests</h1>

        <p></p>

        <p2>I enjoy traveling, surfing, snowboarding, good music, good food, world news, family, hanging out with friends and making new ones.</p2>

    </section>

    <section>
      <a class="btn btn-alt" href="contact.html">Who's in?</a>

        <style> { 
          font-size: 25px;
          }
        </style>

    </section>

    <!-- Footer -->

    <footer>

      <nav>
        <a href="index.html">Home</a>
        <a href="about.html">About Me</a>
        <a href="contact.html">Contact Me</a>
      </nav>

      <small>&copy; 2014 Haynsworth</small>
      
    </footer>