.stack-section {
	/*border: 2px solid white;*/
	background: #4C4C4C;
	padding: 10px;
	margin-top: 50px;
	margin-bottom: 50px;
	border-radius: 5px;
}

#about-info img {
	height: 90%;
	width: 90%;
	border: 3px solid black;
	border-radius: 10px;
}

#about-info p {
	font-size: 15px;
}

#about-info ul {
	list-style-type: none;
	text-align: center;
}

#about-info li {
	display: inline;
}

#about-info i {
	font-size: 55px;
	padding: 4px;
}

#about-info h4 {
	background: white;
	/*border: 1px solid white;*/
	/*text-decoration: underline;*/
	color: #4C4C4C;
	border-radius: 3px;
	padding: 5px;
	text-align: center;
}

