.stack-section {
	/*border: 2px solid white;*/
	background: #4C4C4C;
	padding: 10px;
	margin-top: 50px;
	margin-bottom: 50px;
	border-radius: 5px;
}

.stack-section h3 {
	text-align: center;
	margin-top: 0;
	padding-top: 0;
}

@media (min-width: 1130px) and (max-width: 1600px)  {
	.stack {
		border: 2px solid white;
		border-radius: 2px;
		height: 230px;
	}
}

@media (min-width: 992px) and (max-width: 1129px) {
	.stack {
		border: 2px solid white;
		border-radius: 2px;
		height: 300px;
	}
}

@media  (max-width: 991px) {
	.stack {
		border: 2px solid white;
		border-radius: 2px;
		height: 100%;
	}
}

#about-info img {
	height: 90%;
	width: 90%;
	border: 3px solid black;
	border-radius: 10px;
}

#about-info p {
	font-size: 15px;
}

#about-info ul {
	list-style-type: none;
	text-align: center;
}

#about-info li {
	display: inline;
}

#about-info i {
	font-size: 55px;
	padding: 4px;
}

#about-info h4 {
	background: white;
	/*border: 1px solid white;*/
	/*text-decoration: underline;*/
	color: #4C4C4C;
	border-radius: 3px;
	padding: 5px;
	text-align: center;
}

