
#contact-info p {
	padding-bottom: 20px;
}

#contact-info ul {
	list-style-type: none;
}

#contact-info li {
	padding: 10px;
	margin-bottom: 20px;
	height: 100%;
	width: 100%;
	border: 2px solid white;
	border-radius: 3px;
}

#contact-info i {
	color: white;
}

#contact-info a {
	text-decoration: none;	
	padding-left: 10%;
	color: #528cb3;	
}

#contact-info span {
	font-size: 14px;
	padding-left: 10px;
	margin-bottom: 12px;
	text-decoration: none;
	color: white;
	text-decoration: none;
}

#contact-info a:link {
  text-decoration: none;
}

#contact-info a:visited {
	text-decoration: none;
}

#contact-info a:hover {
    /*text-decoration: underline;*/
  cursor: pointer;
  color: #A6A6A6;
}

#contact-info a:active {
    /*text-decoration: underline;*/
}