

#contact-info p {
	padding-bottom: 20px;
	font-size: 15px;
	border-bottom: 2px solid white;
}

#contact-info span {
	font-size: 14px;
	padding-left: 10px;
	margin-bottom: 12px;
	text-decoration: none;
}

#contact-info a {
	padding: 30px;
	width: 200px;
	border: none;
	color: white;
	-webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

#contact-info ul {
	list-style-type: none;
}

#contact-info li {
	padding: 10px;
	margin-bottom: 20px;
	height: 100%;
	width: 100%;
}

#contact-info a:link {
  text-decoration: none;
}

#contact-info a:visited {
	text-decoration: none;
}

#contact-info a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #528cb3;
}

#contact-info a:active {
  text-decoration: underline;
}

/*.contact-section {
	background: #4C4C4C;
	padding: 10px;
	border-radius: 5px;
}
.contact-box {
	border: 2px solid white;
	border-radius: 2px;
	height: 100%;
}*/





