@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'ostrich-black';
	src: url('../css/fonts/ostrich-black.ttf') format('truetype');
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }

body {
	background: #2f3238;
	color: #fff;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
}

a {
	outline: none;
	/*color: #3498db;*/
	color: white;
	background-color: #2f3238;
	text-decoration: none;
}

a:hover, a:focus {
	color: #528cb3;
}

header {
	position: fixed;
}

#main-nav {
	background: #2f3238;
	transition: 0.5s;
	border: 1px solid #2f3238;
}

#main-nav img {
	transition: 0.5s;
	height: 50%;
	width: 50%;
}

/*#top-nav {
	padding-top: 2%;
	transition: 0.5s;
}

#top-nav.shrink-nav {
	padding-top: 1%;
}*/

#main-nav a {
	/*font-size: 16px;*/

}



