#projects {
	color: black;
}

#projects img {
	height: 100%;
	width: 100%;
	padding-bottom: 20px;
}

#projects img:hover {
	opacity: 1;
	cursor: pointer;
}

.modal-body ul {
	list-style-type: none;
}

.modal-body li {
	display: inline;
}

.modal-body i {
	font-size: 4em;
}

