

#projects {
	color: black;
}

#projects img {
	height: 100%;
	width: 100%;
	padding-bottom: 20px;
	opacity: 0.9;
	animation: 0.2s;
}

#projects img:hover {
	opacity: 1;
	cursor: pointer;
}

#tech-stack h5 {
	padding-bottom: 12px;
}

#tech-stack ul {
	list-style-type: none;
	padding-left: 0; 
}

#tech-stack li {
	display: inline;
}

.modal-title {
	color: white;
	background: #2f3238;
	padding: 15px;
	border-radius: 7px;
}

.modal-body i {
	font-size: 4em;
}

.modal-body p {
	font-size: 14px;
}








