

body { 
	/*padding-top: 70px; */
	background-color: lightgrey;
}

#navigation a {
	background-color: lightgrey;
}

#navigation ul {
	list-style-type: none;

}

#navigation li {
	display: inline-block;
	text-decoration: none;
}

#navigation span {
	background-color: black;
}

.project-description {
	padding-bottom: 40px;
}

#projects img:hover {
	opacity: .5;
}

#portfolio {
	background-color: yellow;
	border: 2px solid black;
	width: 100%;
}

