#fullname {
	background-color: lightyellow;
	text-align: center;
}

#information {
	background-color: lightblue;
	text-align: center;
}

.info-button {
	width: 290px;
}

a {
	text-decoration: none;
}

.profile-pic {
	height: 250px;
	width: 250px;
	border-radius: 125px;
}

#about {
	background-color: lightpink;
	text-align: center;
}

#projects {
	background-color: lightgreen;
	text-align: center;
}