#fullname {
	background-color: lightyellow;
	text-align: center;
}

#main-content {
	background-color: lightblue;
}

#about {
	background-color: lightpink;
}

#projects {
	background-color: lightgreen;
}